*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    min-height: 100vh;
    background-color: #d0eaff;
    display: flex;
    align-items:center;
    justify-content: center;
}
.product{
  width:90%;
  display: flex;
  max-width: 750px;
    
}
.product{
    
    flex-basis: 53%;
    background: #241e20;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
   
}
.gallary img{
    width: 100%;
    display: block;
    padding-top: 100px;
  
}
.product{
    flex-basis: 47%;
    background: #fff;
    padding:40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 500;
    color: #777;
}
.details h1{
    color: #333;
    font-size: 35px;
}
.details h2{
    color: #333;
    font-size: 30px;
    font-weight: 660;
}
.details h3{
    color: #00d874;
    margin-bottom: 20px;
}
.details form{
    font-size: 15px;
    font-weight: 400
    
}
.size-sel{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.size-sel p{
    width: 70px;
}
.size-sel input:checked+span{
    color: blue;
    font-weight: 600;

}
.size-sel input
{
    display: none;
}
.size-sel span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.quan{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quan p{
    width :75px;
}
.quan input{
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}
button{
    background: #553ff0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top:50px ;
    box-shadow: 0 10px 10px rgba(85, 63,240,  0.23);
    cursor: pointer;
}
.controls{
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.btn{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(120, 126, 129, 0.5);
    margin: 10px;
    cursor: pointer;
}
